*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.blue{
    background-color: rgb(40, 95, 246);
}
.button{
    color: white;
    padding: 5px 15px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.giant{
    font-size: 35px;
}
/* .margin-auto{
    width: 80%;
    margin: auto;
} */
.margin-top30{
    margin-top: 30px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-top50{
    margin-top: 50px;
}
.margin-top60{
    margin-top: 60px;
}
.margin-top80{
    margin-top: 80px;
}
.margin-top100{
    margin-top: 100px;
}
.margin-top150{
    margin-top: 150px;
}

