*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.blue{
    background-color: rgb(40, 95, 246);
}
.button{
    color: white;
    padding: 5px 15px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.giant{
    font-size: 30px;
}
.margin-left2-5{
    margin-left: 2.5px;
}
.margin-left5{
    margin-left: 5px;
}
.margin-left10{
    margin-left: 10px;
}
.margin-left40{
    margin-left: 40px;
}
.padding-right8{
    padding-right: 8px;
}
.padding-right9{
    padding-right: 50px;
}
.font-size09{
    font-size: 0.9em;
}
.font-size08{
    font-size: 0.8em;
}
.font-size07{
    font-size: 0.7em;
}
.font-size11{
    font-size: 1.1em;
}

.margin-top10{
    margin-top: 10px;
}
.margin-top15{
    margin-top: 15px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-top25{
    margin-top: 25px;
}
.margin-top30{
    margin-top: 30px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-top50{
    margin-top: 50px;
}
.margin-top60{
    margin-top: 60px;
}
.margin-top80{
    margin-top: 80px;
}
.margin-top100{
    margin-top: 100px;
}
.main-container.margin-top130{
    margin-top: 130px;
}
.main-container.margin-top150{
    margin-top: 150px;
}

