/* ******************* HEADER *******************

header{
    width: 100vw;
    height: 60px;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}
.flex.header-flex{
    height: 100%;
}
.flex.header-flex>*{
    width: 30%;
    background-color: blanchedalmond;
}
.header-left-side{
    display: flex;
}
header .logo{
    width: 30%;
    height: 100%;
    background-color: rgb(102, 177, 234);
}
******************* NAV *******************

header nav{
    width: 70%;
    height: 100%;
    background-color: cadetblue;
}
header .right-nav{
    width: 100%;
}
header nav>*{
    background-color: blueviolet;
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}
header .links>*{
    background-color: coral;
    margin-right: 30px;
} */

/*********************************** MAIN ***********************************/

/******************** FIRST SECTION ********************/
/* 
.large-bg{
    width: 100vw;
    height: 550px;
    background-color: rgb(185, 207, 229);
}
.big-container{
    width: 65vw;
    height: 100%;
    background-color: green;
    margin: 0 auto;
}
.jumbotron{
    width: 100%;
    height: 40%;
    background-color: red;
}
.lower-jumbotron{
    width: 100%;
    height: 70%;
    background-color: blue;
    display: flex;
}
.left-jumbotron{
    width: 35%;
    height: 100%;
    background-color: bisque;
}
.right-jumbotron{
    width: 65%;
    height: 100%;
    background-color: yellow;
}
.left-jumbotron>p{
    line-height: 1.3em;
}
.left-jumbotron>a{
    text-decoration: none;
    color: white;
}
.right-jumbotron>div{
    background-color: blue;
    width: 100%;
    height: 100%;
} */
/******************** SECOND SECTION ********************/

/* .main-container{
    width: 55vw;
    min-height: 500px;
    margin: 0 auto;
    background-color: greenyellow;
} */
/* .main-container h3{
    width: 100%;
    height: 20%;
    background-color: yellow;
} */
/* .checkbox *{
    display: inline-block;
}
.checkbox>*{
    margin-right: 30px;
}

.flex.plans-container{
    height: 700px;
}
.plan{
    width: 30%;
    height: 100%;
    background-color: cadetblue;
}
.huge.plan{
    width: 100%;
    height: 200px;
}
.plan-header{
    width: 100%;
    height: 40px;
    background-color: violet;
    text-align: center;
    padding-top: 10px;
}
.plan-main{
    width: 100%;
    height: 50%;
    background-color: beige;
}
.plan-footer{
    width: 100%;
    height: 46.0%;
    background-color: tomato;
} */

/******************** THIRD SECTION ********************/

/* section.main-container{
    background-color: burlywood;
}
.big-image{
    width: 60%;
    min-height: 100%;
    background-color: aquamarine;
}
.main-container .partner{
    width: 40%;
    height: 100%;
    background-color: antiquewhite;
}
.partner>*{
    margin: auto;
    width: 80%;
}
.partner>h4{
    height: 70px;
    background-color: black;
}
.partner>p{
    height: 150px;
    background-color: blueviolet;
}
.partner>a{
    height: 50px;
    background-color: yellow;
    display: block;
} */

/******************** FOURTH SECTION ********************/


/* .flex.multi-container{
    flex-wrap: wrap;
}
.multitasking{
    width: 31%;
    min-height: 350px;
    background-color:cadetblue;
    border: 1px dashed black;
}
.multitasking .multi-image{
    width: 100%;
    height: 50%;
    background-color: azure;
}
.multitasking .multi-title{
    width: 100%;
    height: 20%;
    background-color: red;
}
.multitasking .multi-parag{
    width: 100%;
    height: 30%;
    background-color: skyblue;
} */

/******************** FIFTH SECTION ********************/

/* .main-container.margin-top150{
    min-height:250px;
}
.main-container.margin-top150>.giant{
    max-width: 60%;
}
.main-container.margin-top150>.more{
    display: block;
    color: blue;
} */

/******************** SIXTH SECTION ********************/

.very-huge.flex{
    background-color: green;
    height: 65vh;
}
.big-square{
    width: calc(100% / 3);
    height: 100%;
    background-color:lightcoral;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
}
.center.big-square{
    flex-direction: column;
}
.square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: aqua;
    border: 1px solid white;
}
.center.big-square>*{
    width: 90%;
    margin: 0 auto;
}
.big-logo{
    height: 25%;
    background-color: bisque;
}
.cit{
    height: 25%;
    background-color: white;
}
.signature{
    height: 20%;
    background-color: goldenrod;
}

/******************** SEVENTH SECTION ********************/

.large-bg.short{
    height: 280px;
}
.large-bg.short>.main-container{
    min-height: 280px;
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}

/******************** LAST SECTION ********************/
section.main-container:last-of-type{
    min-height: 300px;
}
section:last-of-type .line{
    margin-top: 30px;
}
.line>.question{
    float: left;
}
.line>.arrow{
    float: right;
    margin-right: 50px;
}
.line::after {
    content:"";
    display: table;
    clear: both;
}

/********************************* FOOTER *********************************/

footer.large-bg{
    height: 430px;
    background-color: black;
}
.footer.flex{
    min-height: 250px;
    padding-top:70px;
}
.footer-column{
    width: calc(100% / 5);
    min-height: 60%;
    background-color: yellow;
    border: 1px dashed white;
    margin-left: 20px;
    line-height: 2em;
    font-size: 0.9em;
}
ul h4{
    font-size: 1.3em;
    margin-bottom: 10px;
}