/******************** HEADER ********************/

header{
    width: 100vw;
    height: 60px;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}
.flex.header-flex{
    height: 100%;
}
.flex.header-flex>*{
    width: 30%;
    background-color: blanchedalmond;
}
.header-left-side{
    display: flex;
}
header .logo{
    width: 30%;
    height: 100%;
    background-color: rgb(102, 177, 234);
}
/******************** NAV ********************/

header nav{
    width: 70%;
    height: 100%;
    background-color: cadetblue;
}
header .right-nav{
    width: 100%;
}
header nav>*{
    background-color: blueviolet;
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}
header .links>*{
    background-color: coral;
    margin-right: 30px;
}

/*********************************** MAIN ***********************************/

/******************** FIRST SECTION ********************/

section.azure-bg{
    width: 100vw;
    height: 550px;
    background-color: rgb(185, 207, 229);
}
.big-container{
    width: 65vw;
    height: 100%;
    background-color: green;
    margin: 0 auto;
}
.jumbotron{
    width: 100%;
    height: 40%;
    background-color: red;
}
.lower-jumbotron{
    width: 100%;
    height: 70%;
    background-color: blue;
    display: flex;
}
.left-jumbotron{
    width: 35%;
    height: 100%;
    background-color: bisque;
}
.right-jumbotron{
    width: 65%;
    height: 100%;
    background-color: yellow;
}
.left-jumbotron>p{
    line-height: 1.3em;
}
.left-jumbotron>a{
    text-decoration: none;
    color: white;
}
.right-jumbotron>div{
    background-color: blue;
    width: 100%;
    height: 100%;
}
/******************** SECOND SECTION ********************/

.main-container{
    width: 55vw;
    min-height: 500px;
    margin: 0 auto;
    background-color: greenyellow;
}
.main-container h3{
    width: 100%;
    height: 20%;
    background-color: yellow;
}
.checkbox{

}
.checkbox *{
    display: inline-block;
}
.checkbox>*{
    margin-right: 30px;
}

.flex.plans-container{
    height: 700px;
}
.plan{
    width: 30%;
    height: 100%;
    background-color: cadetblue;
}
.huge.plan{
    width: 100%;
    height: 200px;
}
.plan-header{
    width: 100%;
    height: 40px;
    background-color: violet;
    text-align: center;
    padding-top: 10px;
}
.plan-main{
    width: 100%;
    height: 50%;
    background-color: beige;
}
.plan-footer{
    width: 100%;
    height: 46.0%;
    background-color: tomato;
}

/******************** THIRD SECTION ********************/

section.main-container{
    background-color: burlywood;
}
.big-image{
    width: 60%;
    min-height: 100%;
    background-color: aquamarine;
}
.main-container .partner{
    width: 40%;
    height: 100%;
    background-color: antiquewhite;
}
.partner>*{
    margin: auto;
    width: 80%;
}
.partner>h4{
    height: 70px;
    background-color: black;
}
.partner>p{
    height: 150px;
    background-color: blueviolet;
}
.partner>a{
    height: 50px;
    background-color: yellow;
    display: block;
}

/******************** FOURTH SECTION ********************/


.flex.multi-container{
    flex-wrap: wrap;
}
.multitasking{
    width: 31%;
    min-height: 350px;
    background-color:cadetblue;
    border: 1px dashed black;
}