/******************** HEADER ********************/

header{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: white;
}
.flex.header-flex{
    height: 100%;
}
.flex.header-flex>*{
    width: 40%;
}
.header-left-side{
    display: flex;
}
header .logo{
    width: 25%;
    position: relative;
}
header .logo img{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************** NAV ********************/

header nav>*{
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}
header .links>*{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.right-nav>.links>a:last-of-type{
    color: white;
    margin-left: 10px;
}
.left-nav>.links{
    padding-right: 80px;
}
.left-nav>.links a{
    margin-right: 30px;
}

.right-nav>.links{
    padding-left: 130px;
}
.right-nav>.links a{
    margin-left: 30px;
}

/*********************************** MAIN ***********************************/

/******************** FIRST SECTION ********************/

.large-bg{
    height: 550px;
    background-color: rgb(185, 207, 229);
}
.big-container{
    width: 65vw;
    height: 100%;
    margin: 0 auto;
}
.jumbotron h1{
    font-size: 60px;
    padding-top: 60px;
}
.lower-jumbotron{
    height: 70%;
    display: flex;
}
.left-jumbotron{
}
.right-jumbotron{
    height: 100%;
}
.left-jumbotron>p{
    line-height: 1.3em;
    margin-bottom: 10px;
}
.left-jumbotron>a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.left-jumbotron>.arrow{
    font-size: 2em;
}
.right-jumbotron>div{
    height: 95%;
}
.right-jumbotron img{
    height: 100%;
    margin-top: 30px;
    margin-left: 0px;
}
/******************** SECOND SECTION ********************/

.main-container{
    width: 55vw;
    min-height: 500px;
    margin: 0 auto;
}
section.main-container>h2.giant{
    min-width: 70%;
}
.checkbox{

}
.checkbox *{
    display: inline-block;
}
.checkbox>*{
    margin-right: 30px;
}
/* .plan-container.flex.plans-container{
    height: 700px;
} */
.plan{
    width: 30%;
    height: 100%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.huge.plan{
    width: 100%;
    height: 200px;
}
.plan-header{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.plan-main{
    width: 100%;
    height: 50%;
    /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; */

}
.plan-main .plan-container{
    width: 80%;
    margin: auto;    
    padding-top: 20px;
}
.plan-main .plan-container>h4{
    font-size: 1.3em;
}
.plan-main .plan-container>.price{
    font-weight: bold;
}
.plan-main .plan-container>.month{
    color: gray;
}
.plan-main .plan-container>.blue.button.margin-top30{
    padding: 10px 0;
    text-align: center;
}
.plan-main .plan-container>hr{
    width: 20%;
    opacity: 0.5;
}
.plan-footer{
    width: 100%;
    height: 46.0%;
    border-bottom: 1px solid lightgray;
}
.plan-main{
    width: 100%;
    height: 50%;
    /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray; */

}
.plan-footer .plan-container{
    width: 80%;
    min-height: 300px;
    margin: auto;    
    padding-top: 20px;
}
.plan-footer .plan-container i{
    color: rgb(45, 96, 246);
}

