/******************** HEADER ********************/

header{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: white;
}
.flex.header-flex{
    height: 100%;
}
.flex.header-flex>*{
    width: 40%;
}
.header-left-side{
    display: flex;
}
header .logo{
    width: 25%;
    position: relative;
}
header .logo img{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************** NAV ********************/

header nav>*{
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}
header .links>*{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.right-nav>.links>a:last-of-type{
    color: white;
    margin-left: 10px;
}
.left-nav>.links{
    padding-right: 80px;
}
.left-nav>.links a{
    margin-right: 30px;
}
.right-nav>.links{
    padding-left: 130px;
}
.right-nav>.links a{
    margin-left: 30px;
}

/*********************************** MAIN ***********************************/

/******************** FIRST SECTION ********************/

.large-bg{
    height: 550px;
    background-color: rgb(185, 207, 229);
}
.big-container{
    width: 65vw;
    height: 100%;
    margin: 0 auto;
}
.jumbotron h1{
    font-size: 60px;
    padding-top: 60px;
}
.lower-jumbotron{
    height: 70%;
    display: flex;
}
.right-jumbotron{
    height: 100%;
}
.left-jumbotron>p{
    line-height: 1.3em;
    margin-bottom: 10px;
}
.left-jumbotron>a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.left-jumbotron>.arrow{
    font-size: 2em;
}
.right-jumbotron>div{
    height: 95%;
}
.right-jumbotron img{
    height: 100%;
    margin-top: 30px;
    margin-left: 0px;
}
/******************** SECOND SECTION ********************/

.main-container{
    width: 55vw;
    margin: 0 auto;
}
section.main-container>h2.giant{
    min-width: 70%;
}
.checkbox *{
    display: inline-block;
}
.checkbox>*{
    margin-right: 30px;
}
.plan{
    width: 30%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.huge.plan{
    width: 100%;
    min-height: 200px;
}
.plan-header{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.plan-main .plan-container{
    width: 80%;
    margin: auto;    
    padding-top: 20px;
}
.plan-main.horizontal .plan-container.left-side{
    width: 65%;
    margin-left: 10px;
}
.plan-main.horizontal .plan-container.right-side{
    width: 35%;
    margin: 0 auto;
    padding-left: 50px;
}
.plan-main.horizontal .plan-container.right-side>.blue.button{
    width: 70%;
}
.plan-main .plan-container>h4{
    font-size: 1.3em;
}
.plan-main .plan-container>.price{
    font-weight: bold;
}
.plan-main .plan-container>.month{
    color: gray;
}
.plan ul{ 
    margin-left: 15px;
}
.plan ul>li{ 
    margin-top: 10px;
}
.plan-main .plan-container>.blue.button{
    padding: 10px 0;
    text-align: center;
}
.plan-main .plan-container>hr{
    width: 20%;
    opacity: 0.5;
}
.plan-footer .plan-container{
    width: 80%;
    min-height: 300px;
    margin: auto;    
    padding-top: 20px;
}

/******************** THRIRD SECTION ********************/

.big-image{
    width: 60%;
    min-height: 100%;
}
.big-image img{
    width: 100%;
}
.main-container .partner{
    width: 40%;
}
.partner>*{
    width: 80%;
}
.partner>p{
    width: 85%;
}
.partner>a{
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 50%;
    display: block;
    text-decoration: none;
    text-align: center;
}

/******************** FOURTH SECTION ********************/

.flex.multi-container{
    flex-wrap: wrap;
}
.multitasking{
    width: 31%;
    min-height: 350px;
}
.multitasking .multi-image{
    width: 100%;
}
.multitasking .multi-image img{
    width: 100%;
}

/******************** FIFTH SECTION ********************/

.main-container.margin-top150{
    min-height:250px;
}
.main-container.margin-top150>.giant{
    max-width: 60%;
}
.main-container.margin-top150>.more{
    display: block;
    color: blue;
}

/******************** SIXTH SECTION ********************/

.very-huge.flex{
    height: 65vh;
}
.big-square{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.center.big-square{
    flex-direction: column;
    background-color: aliceblue;
}
.square{
    width: calc(100% / 2);
    height: calc(100% / 2);

}
.square img{
    width: 100%;
    height: 100%;
    padding: 60px;
    filter: invert(1);
}
.left .top-left.square{
    background-color: rgb(172, 210, 160);
    border: 10px solid rgba(255, 255, 255, 0.5)
}
.left .top-right.square{
    background-color: rgb(88, 19, 43);;
}
.left .bottom-left.square{
    background-color: rgb(64, 145, 201);
}
.left .bottom-right.square{
    background-color: red;
}
.right .top-left.square{
    background-color: red;
}
.right .top-right.square{
    background-color: lightblue;
}
.right .bottom-left.square{
    background-color: darkblue;
}
.right .bottom-right.square{
    background-color: gold;
}
.center.big-square>*{
    width: 90%;
    margin: 0 auto;
}
.big-logo{
    height: 25%;
}
.big-logo img{
    width: 100%;
    height: 100%;
    padding-right: 250px;
}
.center.big-square>hr{
    width: 20%;
    opacity: 0.5;
    margin-left: 25px;
}
.cit{
    padding-top: 30px;
}
.signature{
    padding-top: 30px;
}

/******************** SEVENTH SECTION ********************/

.large-bg.short{
    height: 280px;
}
.large-bg.short>.main-container{
    min-height: 280px;
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}
.large-bg.short .giant{
    color: rgb(88, 19, 43);
    width: 50%;
}
.large-bg.short .last.button{
    color: black;
    background-color: white;
    width: 30%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-top: -35px;
}

/******************** LAST SECTION ********************/

section.main-container:last-of-type{
    min-height: 300px;
}
section:last-of-type .line{
    margin-top: 30px;
}
.line>.question{
    float: left;
}
.line>.arrow{
    float: right;
    margin-right: 50px;
}
.line::after {
    content:"";
    display: table;
    clear: both;
}

/********************************* FOOTER *********************************/

footer.large-bg{
    height: 430px;
    background-color: black;
}
.footer.flex{
    min-height: 250px;
    padding-top:70px;
}
.footer-column{
    color: white;
    width: calc(100% / 5);
    min-height: 60%;
    margin-left: 20px;
    line-height: 2em;
    font-size: 0.9em;
}
ul h4{
    font-size: 1.1em;
    margin-bottom: 10px;
}
footer ul{
    list-style: none;
}
footer ul li{
    font-size: 0.8em;
}
footer hr{
    width: 10%;
    opacity: 0.5;
    margin-left: 20px;
}
.language{
    color: grey;
    margin-left: 20px;
}
.language .ita{
    margin-left: 5px;
}